In [1]:
import pandas as pd
import pymysql
import numpy as np
import matplotlib
from sqlalchemy import create_engine

In [2]:
cnx = create_engine('mysql+pymysql://fullscale:Test12345!@127.0.0.1/leadsgeneration')    
keywords_location = pd.read_sql('SELECT * FROM keywords_location', cnx) #read the entire table

In [3]:
keywords_location

,pk,city,state_abbreviation,date_added,date_updated
0,1,Atlanta,GA,2020-01-23 15:11:32,2020-01-23 15:11:32
1,2,Boston,MA,2020-01-23 15:11:32,2020-01-23 15:11:32
2,3,Charlotte,NC,2020-01-23 15:11:32,2020-01-23 15:11:32
3,4,Chicago,IL,2020-01-23 15:11:32,2020-01-23 15:11:32
4,5,Cincinnati,OH,2020-01-23 15:11:32,2020-01-27 06:32:19
5,6,Cleveland,OH,2020-01-23 15:11:32,2020-01-27 06:33:22
6,7,Columbus,OH,2020-01-23 15:11:32,2020-01-27 06:33:49
7,8,Dallas,TX,2020-01-23 15:11:32,2020-01-23 15:11:32
8,9,Denver,CO,2020-01-23 15:11:32,2020-01-23 15:11:32
9,10,Detroit,MI,2020-01-23 15:11:32,2020-01-23 15:11:32
10,11,Houston,TX,2020-01-23 15:11:32,2020-01-23 15:11:32
11,12,Indianapolis,IN,2020-01-23 15:11:32,2020-01-23 15:11:32
12,13,Kansas City,MO,2020-01-23 15:11:32,2020-01-23 15:11:32
13,14,Las Vegas,NV,2020-01-23 15:11:32,2020-01-23 15:11:32
14,15,Long Beach,CA,2020-01-23 15:11:32,2020-01-23 15:11:32
15,16,Los Angeles,CA,2020-01-23 15:11:32,2020-01-23 15:11:32
16,17,Miami,FL,2020-01-23 15:11:32,2020-01-23 15:11:32
17,18,Milwaukee,WI,2020-01-23 15:11:32,2020-01-23 15:11:32
18,19,Minneapolis,MN,2020-01-23 15:11:32,2020-01-23 15:11:32
19,20,New Jersey,NJ,2020-01-23 15:11:32,2020-01-23 15:11:32
20,21,New York,NY,2020-01-23 15:11:32,2020-01-23 15:11:32
21,22,Nashville,TN,2020-01-23 15:11:32,2020-01-23 15:11:32
22,23,Oklahoma City,OK,2020-01-23 15:11:32,2020-01-23 15:11:32
23,24,Omaha,NE,2020-01-23 15:11:32,2020-01-23 15:11:32
24,25,Orlando,FL,2020-01-23 15:11:32,2020-01-23 15:11:32
25,26,Philadelphia,PA,2020-01-23 15:11:32,2020-01-23 15:11:32
26,27,Pittsburgh,PA,2020-01-23 15:11:32,2020-01-23 15:11:32
27,28,Portland,OR,2020-01-23 15:11:32,2020-01-23 15:11:32
28,29,Raleigh,NC,2020-01-23 15:11:32,2020-01-23 15:11:32
29,30,Sacramento,CA,2020-01-23 15:11:32,2020-01-23 15:11:32
30,31,Salt Lake City,UT,2020-01-23 15:11:32,2020-01-23 15:11:32
31,32,San Francisco,CA,2020-01-23 15:11:32,2020-01-23 15:11:32
32,33,Seattle,WA,2020-01-23 15:11:32,2020-01-23 15:11:32
33,34,St. Louis,MO,2020-01-23 15:11:32,2020-01-23 15:11:32
34,35,Tulsa,OK,2020-01-23 15:11:32,2020-01-23 15:11:32
35,36,Washington,DC,2020-01-23 15:11:32,2020-01-23 15:11:32